# Node modules
node_modules/

# Build outputs
dist/
lib/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo


# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Coverage
coverage/
